@import '../vars.scss';

.login--section {
    display: grid;
    height: fit-content;

    @include background-image(
        $clr-soft-dark,
        url('/backgrounds/alt-inverted-background.svg')
    );
    color: $clr-soft-light;
}

.login--container {
    width: 95%;
    max-width: 420px;

    display: grid;
    justify-self: center;
    justify-items: center;

    // background-color: #ff7e4f;
    // background-color: $clr-soft-dark;
    background: rgb(17, 16, 22);
    background: linear-gradient(
        0deg,
        rgba(17, 16, 22, 1) 33%,
        rgba(0, 0, 0, 0.8) 99%
    );
    // background-color: rgb(32, 32, 32);
    padding: 3em 2em;
    border-radius: 5px;
    margin-block: 3em;
}

.server-error {
    color: $clr-error;
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.4;
}

.title {
    @include font-stack('Montserrat');
    width: fit-content;

    padding-bottom: 0.1em;
    border-bottom: 2px solid #693be7;
    margin-top: 0;

    font-size: $fs-h2;
    text-align: center;
    color: #693be7;
    letter-spacing: 1px;
}

.description {
    width: 90%;
    // max-width: 280px;
    justify-self: center;

    margin-bottom: 3em;

    font-size: 1.2rem;
    // text-align: center;
}

.form {
    width: 90%;
    justify-self: center;
    justify-content: left;
    display: grid;
    grid-template-columns: 1fr;
    * {
        display: block;

        font-size: $fs-p;
    }

    label {
        border: none;
        margin-bottom: 0.5em;

        font-weight: 600;
    }
}

.email,
.password {
    @include font-stack($primary-font);

    background-color: rgb(252, 252, 252);
    padding: 0.25em 0.5em;
    border: none;
    border-radius: 5px;
    outline-color: #693be7;
    margin-bottom: 2em;

    font-size: $fs-p;
}

.invalid-email {
    width: fit-content;

    border-bottom: 1px solid $clr-error;
    margin-top: -1em;

    color: $clr-error;
}

.bad-field {
    border: 2.5px solid $clr-error;
}

.log-in--btn {
    @include font-stack('Montserrat');
    width: fit-content;
    display: block;
    justify-self: right;
    cursor: pointer;

    background-color: #693be7;
    padding: 1em 2em;
    border: none;
    border-radius: 3px;
    margin-block: 1.5em;

    color: $clr-soft-light;
    // text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;

    &:hover,
    &:focus-visible {
        transform: scale(1.04);
    }

    &:disabled {
        cursor: not-allowed;
        transform: none;

        background-color: lightgray;

        color: rgb(80, 80, 80);
    }
}

.bad-login {
    width: 100%;

    padding-block: 1em;
    background-color: lightgray;
    border: 2px solid $clr-dark;
    border-radius: 50px;

    color: $clr-error;
    font-weight: 600;
    text-align: center;
    font-size: 1rem;
}

.register-text {
    margin-top: 1em;

    a {
        color: $clr-soft-light;
    }
}
