@import '../vars.scss';

.playlists--processing {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    opacity: 0.98;
    z-index: 8;
    display: grid;

    background-color: $clr-soft-dark;
}

.playlists--section {
    @include font-stack('Open Sans');

    height: fit-content;
    width: 100%;
    display: grid;
    position: relative;
    // top: 60px;
    align-self: flex-start;

    @include background-image(
        $clr-soft-dark,
        url('/backgrounds/wave-background.svg')
    );
    // margin-top: -5em;
    color: $clr-soft-light;
}

.playlists--container {
    width: 90%;
    display: grid;
    justify-self: center;
    justify-items: center;

    padding-block: 3em;
}

.title {
    @include font-stack('Gotham');
    width: fit-content;
    justify-self: center;

    margin: 0;
    margin-bottom: 0.25em;

    font-size: $fs-h1;
    letter-spacing: 0.05em;
}

.user-name {
    background: rgb(255, 134, 87);
    background: linear-gradient(
        90deg,
        rgb(248, 152, 114) 0%,
        rgba(255, 197, 73, 1) 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.no-playlists {
    font-size: $fs-p;
}

.your-playlists--cap {
    font-size: 1.4rem;
}

.create--btn,
.add--btn,
.cancel--btn {
    @include font-stack('Open Sans');
    width: fit-content;
    cursor: pointer;
    justify-self: center;

    background-color: rgb(66, 66, 66);
    padding: 0.5em 1em;
    border: none;
    border-radius: 50px;
    margin-block: 3em;

    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: $clr-soft-light;

    &:hover,
    &:focus-visible {
        background-color: rgb(80, 80, 80);
    }
}

.create--btn {
    background: $clr-soft-dark;

    &:hover,
    &:focus-visible {
        background-color: rgb(30, 30, 30);
    }
}

.add-server-error {
    width: 20%;

    background: $clr-soft-light;
    padding: 1em;
    border: 1px solid red;
    border-radius: 10px;

    text-align: center;
    color: red;
}

.add-form {
    width: 320px;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(2, auto);

    background-color: $clr-soft-dark;
    padding: 1em 1em 2em;
    border-radius: 10px;
    margin-top: 1em;

    label {
        grid-row: 2 / 3;

        margin-bottom: 0.5em;

        font-size: $fs-p;
        font-weight: 600;
    }
}

.already-exists {
    grid-row: 1 / 2;
    grid-column: 1 / 3;

    color: $clr-error;
}

.name,
.new-name {
    width: 100%;
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    caret-color: #000;

    padding: 0.25em 0.5em;
    border: 1px solid $clr-soft-dark;
    border-radius: 10px;

    font-size: $fs-p;

    &:focus-visible {
        outline: 2px solid #8a3ffc;
        outline-offset: 2px;
    }
}

.highlight-name {
    border: 2px solid red;
    outline: none;

    &:hover,
    &:focus-visible {
        outline: none;
    }
}

.add-btns--container {
    display: flex;
    justify-content: space-evenly;

    margin-top: 2em;
}

.add--btn,
.cancel--btn {
    display: inline-block;
    position: relative;
    grid-row: 4 / 5;
    // grid-column: 1 / 2;

    // margin-top: 2em;
    // margin-inline: 1em;
    margin: 2em 1em 0;

    font-size: 1.1rem;
}

/* ====================
    Each playlist
   ====================*/

.playlists-comp--container {
    width: 100%;
    // max-width: 940px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    column-gap: 3em;
    justify-items: center;
}

.playlist {
    width: 320px;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 60% 30%;
    column-gap: 1em;
    align-items: center;

    padding: 1em;
    background: $clr-dark;
    border-radius: 5px;
    margin-block: 1em;

    color: $clr-light;
}

.playlist--title {
    width: 100%;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    align-self: baseline;
    overflow: hidden;
    white-space: nowrap;

    padding-left: 0.25em;
    margin: 0;

    text-overflow: ellipsis;
}

.playlist--date {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    align-self: baseline;
    justify-self: right;

    margin: 0;

    font-size: 0.9rem;
}

.edit--btn,
.delete--btn {
    @include font-stack('Open Sans');
    cursor: pointer;
    grid-row: 2 / 3;
    justify-self: center;

    background: none;
    padding-bottom: 0.25em;
    border: none;
    margin-top: 2em;

    font-size: 1rem;
    color: $clr-soft-light;

    &:hover,
    &:focus-visible {
        color: rgb(179, 179, 179);
    }
}

.edit--btn {
    width: fit-content;
    grid-column: 1 / 2;

    margin-right: 1em;

    text-decoration: none;
}

.delete--btn {
    grid-column: 2 / 3;
}

/* ====================
    Single playlist
   ====================*/

.single-playlist--section {
    @include background-image(
        $clr-soft-dark,
        url('/backgrounds/wave-background.svg')
    );

    display: grid;

    min-height: 70vh;
}

.single-playlist {
    // width: fit-content;
    grid-template-rows: repeat(4, auto);
    height: fit-content;
    justify-self: center;

    margin-top: 5%;
}

.single-playlist--title {
    grid-row: 1 / 2;
    grid-column: span 2;

    margin-bottom: 0;
}

.single-playlist--already-exists {
    grid-row: 3 / 4;
    grid-column: 1 / 3;

    color: $clr-error;
    text-align: center;
}

.update-form {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    grid-row: 4 / 5;
    grid-column: 1 / 3;

    label {
        font-size: 1.4rem;
        font-weight: 700;
    }
}

.playlist-prev-name {
    width: 100%;
    overflow: hidden;
    grid-column: 1 / 3;

    margin-top: 0.5em;
    margin-bottom: 1em;

    font-size: 1.4rem;
    font-weight: 400;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.new-name {
    width: 100%;
    display: block;
    grid-row: 2 / 3;

    margin-top: 0.5em;
}

.go-back--btn,
.update--btn {
    width: fit-content;
    grid-row: 3 / 4;
    justify-self: center;
    cursor: pointer;

    background: $clr-soft-dark;
    padding: 0.5em 1em;
    border-radius: 50px;
    border: none;
    margin-top: 2em;

    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: $clr-soft-light;
    text-decoration: none;
}

@media (min-width: 890px) {
    .playlists-comp--container {
        max-width: 800px;
        // grid-template-columns: repeat(2, 320px);
    }
}
