@import './vars.scss';

html,
body {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    @include font-stack('Inter');
}

* {
    box-sizing: border-box;
}

strong {
    font-weight: 600;
    letter-spacing: 1px;
}

.page--container {
    height: fit-content;
    min-height: 100vh;
    display: grid;
    // grid-template-rows: repeat(3, auto);
}
